/* SELECTOR UNIVERSAL */

*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url(https://w.wallhaven.cc/full/nm/wallhaven-nmllzy.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

/* JERARQUIA DE CABECERAS*/

h1{
    font: bold 26px verdana, sans-serif;
}

h2{
    font: medium 20px verdana, sans-serif;
}

h3{
    font: normal 16px helvetica, sans-serif;
}

h4{
    font: bold 14px verdana, sans-serif;
}

h5{
    font: bold 12px verdana, sans-serif;
}

h6{
    font: bold 10px verdana, sans-serif;
}




/* DISEÑO DEL TEMPLATE */
/*diseño del div general donde están contenidos los elementos de la página*/
#divGeneral{
    width: 980px;
    margin: 15px auto;
    text-align: left;
    border: none;
}
/*El diseño del header de la página*/
#cabecera{
    background: linear-gradient(45deg, #2833DB, #28DB76);
    padding: 20px;
    color: white;
}
#logo{
    height: 70px;
    float: left;
    margin-right: 20px;
}


/*diseño barra de opciones*/
.opcion a {
    text-decoration: none;
    color: black;
}
#menu{
    background:#75b9f0;
    padding: 5px 15px; 
}


#menu li{
    margin-left: 20px;
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px sans-serif;
}

#menu li a:hover{
    color: rgba(0, 12, 245, 0.832);
}


#seccionPrincipal{
    float: right;
    width: 650px;
    margin: 20px;
}

#sidebar{
    float: left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background: rgb(140, 140, 233);
}

/*Diseño del footer con redes sociales y teléfono
*background de degradado
*/
#footer{
    clear:both;
    margin-left: 0;
    text-align: center;
    align-items: center;
    
    width: 100%;
    color: whitesmoke;
    border-top: 3px solid rgba(0, 206, 72, 0.799);
    background: linear-gradient(45deg, #2833DB, #8B1DA3);
    margin-block-end: 0;
}
.box{
    border: none;
    margin: 0;
    text-align: left;
    margin-top: 0;
}
.box1{
    border: none;
    margin: 0;
    text-align: center;
    margin-top: 0;
}
.grupo1{
    text-align: center;
    align-content: center;
    border: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px; 
}
.contacto {
    list-style: none;
    text-decoration: none;
    margin: auto;
    font: size 16px; 
}
.redes a{
    text-decoration: none;
    color: white;
}
.redes a i{
    font-size: 1.5rem;
    padding: 10px;
}
.redes {
    list-style: none;
    display: flex;
    justify-content: center;
}
.redes a:hover i{
    color: rgba(184, 98, 255, 0.832);
}

#tel{
    text-decoration: none;
    color: aliceblue;
}
#tel:hover{
    color: rgba(184, 98, 255, 0.832);
}

/*diseño de la página de fotos*/
div.galeria{
    background-color: white;
    margin: 20px 30px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0,0,0,0.19);
    border: #2833DB;
    float: left;
    width: 250px;
    height: 450px;
}
div.galeria img{
    border: none;
    border-style: none;
    width: 100%;
    height: auto;
}
div.galeria .foto{
    border: none;
    align-content: center;
}
div.galeria:hover{
    border: 1px solid blue;
    transform: rotate(-3deg);
}
div.pie{
    border: none;
    text-align: left;
    font: bold 20px;
    padding: 10px;
}
.letra-pie{
    font: bold 16px verdana;
    text-align: left;
}

/*Diseño de la página de videos*/
.video{
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    border: 3px solid red;
    margin-bottom: 15px;
    background-color: azure;
}
.video iframe{
    margin-top: 6px;
    margin-left:0;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 360px;
}

.fvideos{
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}

/*diseño página principal y sidebar*/
.letra-reg{
    font: bold 16px Arial;
    text-decoration: none;
}
.atmo{
    text-align: justify;
    font: medium 14px Arial;
}

.tiempo{
    color: black;
}

.imgArt{
    text-align: center;
}

.imgArt img{
    height: 200px;
    width: auto;
}

.videoS{
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: 0%;
    margin-top: 6px;
    background-color: azure;
    border-radius: 10px;

}

.videoS iframe{
    margin-left:0;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
}

.videoS img{
    margin-left:0;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
}

/*diseño página de documentos*/
.documento{
    margin-left:0;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(228, 247, 254, 0.951);
    color: black;
    border-radius: 10px;
}

.documento1{
    text-decoration: none;
    color: rgb(170, 3, 3);
}





